node_modules/
!vendor/nitro/dist/
!vendor/nitro/dist/**
!vendor/ohash/dist/
!vendor/ohash/dist/**
!vendor/query-core/build/
!vendor/query-core/build/**
dist/
node_modules/
!vendor/seroval-plugins/dist/
!vendor/seroval-plugins/dist/**
!vendor/unplugin/dist/
!vendor/unplugin/dist/**
!vendor/@tanstack_router-core/dist/
!vendor/@tanstack_router-core/dist/**
!vendor/tanstack_router-core/dist/**
!vendor/seroval/dist/
!vendor/seroval/dist/**
.vercel/
